.quote-card {
  background-color: #fff;
  box-shadow: var(--box-shadow-card);
  padding: 1.6rem;
  padding-bottom: 5rem;
  border-radius: .4rem;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  
  &__controls {
    position: absolute;
    top: .5rem;
    right: .8rem;
    display: flex;
    transform: translateY(-3rem);
    opacity: 0;
    transition: all .25s .5s;
  }

  &:hover &__controls  {
    transform: translateY(0);
    opacity: 1;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: fill .25s;

    &--edit {
      fill: var(--color-violet-bright);

      &:hover {
        fill: #7776c4;
      }
    }

    &--remove {
      fill: var(--color-coral-bright);
      margin-left: .7rem;

      &:hover {
        fill: #eb9591;
      }
    }
  }

  &__text {
    font-size: 1.8rem;
  }

  &__author {
    font-size: 1.5rem;
    position: absolute;
    display: inline-block;
    bottom: 1.6rem;
    right: 1.6rem;
    font-style: italic;
    font-weight: 300;
  }
}